In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [49]:
ls ../data/Liquor

CSVs/               intermediate/       scraped_HTML_files/

In [50]:
dat = pd.read_csv('../data/Liquor/intermediate/All_Licenses_with_issued_date.csv')

In [51]:
dat.shape

(134596, 10)

In [52]:
dat.head()

,premises_name,address,license_class,license_type,expiration_date,license_status,link,zipcode,license_duration,issued_date
0,amtrak n r p corp,"penn station under option b new york, ny 10001",250,rr,1998-09-30,expired,/servlet/ApplicationServlet?pageName=com.ibm.n...,10001,730,1996-09-30
1,amtrak n r p corp,"penn station under option b new york, ny 10001",250,rr,1998-09-30,expired,/servlet/ApplicationServlet?pageName=com.ibm.n...,10001,730,1996-09-30
2,amtrak n r p corp,"penn station under option b new york, ny 10001",250,rr,1998-09-30,expired,/servlet/ApplicationServlet?pageName=com.ibm.n...,10001,730,1996-09-30
3,amtrak n r p corp,"penn station under option b new york, ny 10001",250,rr,1998-09-30,expired,/servlet/ApplicationServlet?pageName=com.ibm.n...,10001,730,1996-09-30
4,amtrak n r p corp,"penn station under option b new york, ny 10001",250,rr,1998-09-30,expired,/servlet/ApplicationServlet?pageName=com.ibm.n...,10001,730,1996-09-30

In [38]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134595 entries, 0 to 134594
Data columns (total 8 columns):
premises_name      134578 non-null object
address            134595 non-null object
license_class      134594 non-null object
license_type       134595 non-null object
expiration_date    119510 non-null object
license_status     134595 non-null object
link               134595 non-null object
zipcode            134595 non-null int64
dtypes: int64(1), object(7)
memory usage: 9.2+ MB

In [43]:
durations = pd.read_csv('../data/Liquor/license_class_duration.csv', index_col=0)

In [45]:
durations.head()

   License.Class.Code  median_duration          sd  n()
1                 101              365   15.741797  153
2                 102              365  379.362788    8
3                 103              365   32.273416  476
4                 104              365   38.183533  122
5                 105              365   54.863418  106

### The goal here is to