In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
ls ../data/Liquor/intermediate

All_Licenses.csv                                        Liquor_Authority_Quarterly_List_of_Active_Licenses.csv
All_Licenses_v02.csv                                    license_class_duration.csv
All_Licenses_v03.csv

In [8]:
dat = pd.read_csv('../data/Liquor/intermediate/All_Licenses_v03.csv')

In [9]:
dat.shape

(134619, 15)

In [10]:
dat.head()

,premises_name,address,license_class,license_type,expiration_date,license_status,link,zipcode,license_duration,issued_date,zip,city,state,latitude,longitude
0,amtrak n r p corp,"penn station under option b new york, ny 10001",250,rr,1998-09-30,expired,/servlet/ApplicationServlet?pageName=com.ibm.n...,10001,730,1996-09-30,10001,New York,NY,40.750742,-73.99653
1,amtrak n r p corp,"penn station under option b new york, ny 10001",250,rr,1998-09-30,expired,/servlet/ApplicationServlet?pageName=com.ibm.n...,10001,730,1996-09-30,10001,New York,NY,40.750742,-73.99653
2,amtrak n r p corp,"penn station under option b new york, ny 10001",250,rr,1998-09-30,expired,/servlet/ApplicationServlet?pageName=com.ibm.n...,10001,730,1996-09-30,10001,New York,NY,40.750742,-73.99653
3,amtrak n r p corp,"penn station under option b new york, ny 10001",250,rr,1998-09-30,expired,/servlet/ApplicationServlet?pageName=com.ibm.n...,10001,730,1996-09-30,10001,New York,NY,40.750742,-73.99653
4,amtrak n r p corp,"penn station under option b new york, ny 10001",250,rr,1998-09-30,expired,/servlet/ApplicationServlet?pageName=com.ibm.n...,10001,730,1996-09-30,10001,New York,NY,40.750742,-73.99653

In [12]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134619 entries, 0 to 134618
Data columns (total 15 columns):
premises_name       134602 non-null object
address             134619 non-null object
license_class       134618 non-null object
license_type        134619 non-null object
expiration_date     119534 non-null object
license_status      134619 non-null object
link                134619 non-null object
zipcode             134619 non-null int64
license_duration    134619 non-null float64
issued_date         119534 non-null object
zip                 134619 non-null int64
city                134619 non-null object
state               134619 non-null object
latitude            134619 non-null float64
longitude           134619 non-null float64
dtypes: float64(3), int64(2), object(10)
memory usage: 16.4+ MB

In [18]:
new_dat = dat[["premises_name", "expiration_date", "license_status", "zipcode", "issued_date", "latitude", "longitude"]]

In [19]:
new_dat.head()

,premises_name,expiration_date,license_status,zipcode,issued_date,latitude,longitude
0,amtrak n r p corp,1998-09-30,expired,10001,1996-09-30,40.750742,-73.99653
1,amtrak n r p corp,1998-09-30,expired,10001,1996-09-30,40.750742,-73.99653
2,amtrak n r p corp,1998-09-30,expired,10001,1996-09-30,40.750742,-73.99653
3,amtrak n r p corp,1998-09-30,expired,10001,1996-09-30,40.750742,-73.99653
4,amtrak n r p corp,1998-09-30,expired,10001,1996-09-30,40.750742,-73.99653

In [21]:
new_dat.license_status.value_counts()

license is inactive     81131
expired                 27048
license is active       23307
pending                  3130
operating under sapa        3
Name: license_status, dtype: int64

### We sort of have to bail on lat long now - this will be based on zips :(

In [27]:
z = new_dat['expiration_date']
#z = pd.to_datetime(new_dat['expiration_date'])

In [28]:
z

0         1998-09-30
1         1998-09-30
2         1998-09-30
3         1998-09-30
4         1998-09-30
5         1998-09-30
6         2017-09-30
7         2017-09-30
8         2017-09-30
9         2017-09-30
10        2017-09-30
11        2017-09-30
12        2017-09-30
13        2017-09-30
14        2017-09-30
15        2017-09-30
16        2017-09-30
17        2017-09-30
18        2017-09-30
19        2017-09-30
20        2017-09-30
21        2017-09-30
22        2017-09-30
23        2017-09-30
24        2017-09-30
25        2017-09-30
26        2017-09-30
27        2017-09-30
28        2017-09-30
29        2017-09-30
             ...
134589    2014-02-28
134590    2011-10-31
134591    2015-10-31
134592    2017-02-28
134593    2008-03-31
134594           NaN
134595    2002-04-17
134596    2018-05-31
134597    2006-04-30
134598    2016-12-31
134599           NaN
134600           NaN
134601    2017-05-31
134602    2005-07-18
134603    2005-06-23
134604    2017-06-30
134605           NaN
134606    2008-06-30
134607    2014-02-28
134608    2010-05-31
134609    2017-01-31
134610    2010-10-31
134611    2016-05-31
134612    2014-11-30
134613    2013-11-30
134614    2014-11-30
134615    2016-08-31
134616    2017-02-28
134617    2017-03-31
134618           NaN
Name: expiration_date, dtype: object