In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
ls ../data/Liquor

All_Licenses.csv                                        Liquor_Authority_Quarterly_List_of_Active_Licenses.csv
CSVs/                                                   scraped_HTML_files/

In [24]:
dat = pd.read_csv('../data/Liquor/All_Licenses.csv')

In [25]:
dat.shape

(134595, 8)

In [26]:
dat.head()

,premises_name,address,license_class,license_type,expiration_date,license_status,link,zipcode
0,amtrak n r p corp,"penn station under option b new york, ny 10001",250,rr,09/30/1998,expired,/servlet/ApplicationServlet?pageName=com.ibm.n...,10001
1,amtrak n r p corp,"penn station under option b new york, ny 10001",250,rr,09/30/1998,expired,/servlet/ApplicationServlet?pageName=com.ibm.n...,10001
2,amtrak n r p corp,"penn station under option b new york, ny 10001",250,rr,09/30/1998,expired,/servlet/ApplicationServlet?pageName=com.ibm.n...,10001
3,amtrak n r p corp,"penn station under option b new york, ny 10001",250,rr,09/30/1998,expired,/servlet/ApplicationServlet?pageName=com.ibm.n...,10001
4,amtrak n r p corp,"penn station under option b new york, ny 10001",250,rr,09/30/1998,expired,/servlet/ApplicationServlet?pageName=com.ibm.n...,10001

In [33]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134595 entries, 0 to 134594
Data columns (total 8 columns):
premises_name      134578 non-null object
address            134595 non-null object
license_class      134594 non-null object
license_type       134595 non-null object
expiration_date    119510 non-null object
license_status     134595 non-null object
link               134595 non-null object
zipcode            134595 non-null int64
dtypes: int64(1), object(7)
memory usage: 9.2+ MB